body {
    background: rgba(239, 218, 83, 1);
    background: -webkit-radial-gradient(left 60%, rgba(254, 252, 234, 1), rgba(239, 218, 83, 1));
    background: radial-gradient(at left 60%, rgba(254, 252, 234, 1), rgba(239, 218, 83, 1));
}

.stroke {
    text-shadow: 3px 3px 0 #843C3C, -1px -1px 0 #843C3C, 1px -1px 0 #843C3C, -1px 1px 0 #843C3C, 1px 1px 0 #843C3C;
}
