body {
    background: rgb(234, 243, 247);
    background: -webkit-radial-gradient(left 60%, rgba(234, 243, 247, 1), rgba(181, 198, 208, 1));
    background: radial-gradient(at left 60%, rgba(234, 243, 247, 1), rgba(181, 198, 208, 1));
}

.stroke {
  text-shadow: 3px 3px 0 #843C3C, -1px -1px 0 #843C3C, 1px -1px 0 #843C3C, -1px 1px 0 #843C3C, 1px 1px 0 #843C3C;
}